/** open sans **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** Poppins **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*************************
 AVENIR
 *************************/
@font-face {
  font-family: 'avenir-black';
  src: url(../fonts/AvenirBlack.ttf);
}

@font-face {
  font-family: 'avenir-book';
  src: url(../fonts/AvenirBook.ttf);
}

@font-face {
  font-family: 'avenir-regular';
  src: url(../fonts/AvenirRegular.ttf);
}

@font-face {
  font-family: 'avenir-heavy';
  src: url(../fonts/AvenirHeavy.ttf);
}

@font-face {
  font-family: 'avenir-light';
  src: url(../fonts/AvenirLight.ttf);
}

/*************************
 ALL ROUND GOTHIC
 *************************/
@font-face {
  font-family: 'All Round Gothic W03 Book';
  src: url(../fonts/AllRoundGothicW03Book.ttf);
}

@font-face {
  font-family: 'All Round Gothic W03 Demi';
  src: url(../fonts/AllRoundGothicW03Demi.ttf);
}
