.slicknav_btn{
  display: none;
}
.slicknav_menu{
  padding:0;
  //visibility: hidden;
}
.navbar{
  .slicknav{
    &_nav{
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 85%;
      max-width: 320px;
      z-index: 9999;
      //display: block !important;
      padding:0;
      transform: translateX(0%);
      transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
      background-color: #fff;

      li{
        &.item-social{
          display: flex;
          padding:15px 10px;
          a{
            font-size:24px;
          }
        }
      }

      a{
        //font-size:24px;
        color:#202020;
        margin:0!important;
      }
      .nav-link{
        color:#202020;
        padding:15px 10px;
        border-bottom:1px solid #ddd;
      }
    }

  }
}

.slicknav_hidden{
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.slicknav_menu{
  position: absolute;
  //display: none!important;
}

.body-layer-menu{
  //background: rgba(255, 255, 255, 0.53);
  background: rgba(0, 0, 0, 0.52);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 999;
}

.slicknav_item{
  padding:0!important;
  margin: 0!important;
  &:hover{
    background-color: #f2f2f2!important;
    border-radius:0!important;
  }
}
.slicknav_arrow{
  font-weight: 600;
  font-size:24px!important;
  position: absolute;
  top: 13px;
  right: 14px;
  color:$primary-orange;
}

@media (max-width:991px) {
  .nav-link{
    margin:0!important;
    //padding:14px 10px!important;
    display: block!important;
    &:hover{
      background-color: #f2f2f2!important;
      border-radius:0!important;
    }
  }

  .navbar{
    &-nav{
      .dropdown-menu{
        li{
          padding:0 10px;
          a{
            padding:10px 0;
            align-items: center;
            .icon-holder{
              flex:0 0 14%;
              max-width:14%;
            }
            .text-content{
              flex:0 0 86%;
              max-width:86%;
              .title{
                padding-left:6px;
                font-size:18px;
                margin:0;
              }
              p{
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .slicknav{
    &_nav{
      ul{
        margin-left:10px;
        border:0;
        border-radius:0;
      }
    }
  }
}