//VARIABLE
$primary-color: rgba(255, 255, 255, 0.6);
//$primary-yellow: #ff9916;
$primary-yellow:#F90954;
$secondary-yellow:#ffc000;
$primary-red: #b92228;
$primary-color-hover: rgba(131, 131, 131, 0.71);
$solid-black:#000000;
$secondary-color:#838383;
$gold-text-color:#a79359;

$primary-orange:#f36f2f;
$primary-blue:#2196f3;
$secondary-blue:#1f8eeb;
$primary-purple:#62217f;
$text-blue:#0d47a1;

$overlayer-color:rgba(167, 147, 89, 0.41);
$color-white:#fff;
$color-white-secondary:rgba(255, 255, 255, 0.6);

/************************
TEXT COLOR
**************************/
$text-yellow:#dca225;
$text-black:#434747;

/************************
BACKGROUND COLOR
**************************/
$black: #000;
$black-grey: #090909;
$primary-background-color:#fff;
$blue: rgb(78, 121, 188);
$dark-blue:#192f54;
$secondary-black:#222222;

$background-yellow:#EAAF30;
$background-footer:#434747;
$background-footer-credit:#202020;
  //background_color

//btn color
$btn-red:#b92228;



$footer-background-color:#f9f9f9;
$footer-bottom-background-color:#f9f9f9;
$primary-btn-hvr-color:#fffff;
$primary-btn-hvr-bcg-color:#202020;
$red:#ee312f;

//font_family
$light:300;
$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
//font_family

$primary-font-size:20px;

$primary-box-shadow:0 4px 10px 0px rgba(0, 0, 0, 0.04);
$white-color:#ffffff;

//transition
$primary-transition:0.3s all linear;


//border

//border
